<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazycode.mapper.PermissionMapper">

    <select id="selectByRid" resultType="permission">
        select p.id,p.permissionName,p.url from permission p, role_permission rp where rp.permissionId=p.id and rp.roleId = #{roleId}
    </select>

    <select id="selectById" resultType="permission">
        select id,permissionName,url from permission where id = #{id}
    </select>



<!--    <resultMap id="p_map" type="permission">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="permissionName" column="permissionName"/>-->
<!--        <result property="url" column="url"/>-->
<!--    </resultMap>-->
</mapper>
